<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
 
	<bean id="collegeAction" class="com.baidu.college.action.CollegeAction" scope="prototype">
		<property name="collegeService" ref="collegeService"></property>   
	</bean>
	
	
	<!-- 简洁service配置 -->
	<bean id="collegeService" class="com.baidu.college.service.CollegeServiceImpl">
	<property name="sessionFactory" ref="sessionFactory"></property> 
	</bean>
	
	
	
</beans>
