<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	 

    <!-- ======================== 调度工厂 ======================== -->
    <bean id="SpringJobSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
            	<!-- 调度触发器 -->
                <ref bean="CronTriggerBean"/>
            </list>
        </property>
    </bean>  

	<!-- ======================== 调度触发器 ======================== -->
    <bean id="CronTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	<!-- 任务调度类 -->
        <property name="jobDetail" ref="SpringQtzJobMethod"></property>
        <!-- 任务执行时间 -->
        <property name="cronExpression" value="0/10 * * * * ?"></property>
    </bean>
    
    <!-- 任务调度类 -->
     <!-- 使用MethodInvokingJobDetailFactoryBean， 通过targetMethod指定调用方法-->  
    <bean id="SpringQtzJobMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 任务执行类 -->
        <property name="targetObject">
            <ref bean="SpringQtzJob"/>
        </property>
        <property name="targetMethod">  
            <value>test</value><!-- 要执行的方法名称 -->
        </property>
    </bean>
    
    
    
        <!-- 定义目标bean和bean中的方法 -->
        <!-- 任务执行类 --> 
        <bean id="SpringQtzJob" class="com.baidu.user.action.UserAction">
        	<property name="selectDataService" ref="selectDataService"></property>
        </bean>
        
	
</beans>
